<!DOCTYPE html>
<html lang="ko">
<head>
    <title>참평안교회 볼링 선교회</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 네비게이션 바 시작 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">참평안교회 볼링 AVER 페이지</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/mypage.html">마이페이지</a>
                </li>
                <li class="active">
                    <a id="joinmenu" href="/join.html">가입</a>
                </li>
                <li>
                    <a id="loginmenu" href="/login.html">로그인</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br>
<br>
<br>
<br>
<br>

<!-- 네비게이션 바 끝 -->


<!-- 가입 폼 시작 -->
<div class="container">
    <h1>환영합니다!</h1>

    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label for="name">NicName:</label>
        <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
        <label for="score">Average:</label>
        <input type="text" class="form-control" id="score">
    </div>

    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>

    <button type="button" class="btn btn-default join">가입</button>

</div>
<!-- 가입 폼 끝 -->


</body>
</html>