<!DOCTYPE html>
<html lang="ko">

<head>
    <title id="titleCheck">볼링선교회 - 마이페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<!-- 네비게이션 바 시작 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">참평안교회 볼링 AVER 페이지</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="/mypage.html">마이페이지</a>
                </li>
                <li>
                    <a id="joinmenu" href="/join.html">가입</a>
                </li>
                <li>
                    <a id="loginmenu" href="/login.html">로그인</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br>
<br>
<br>
<br>
<br>

<!-- 네비게이션 바 끝 -->

<!-- userkey 비교하기. 현재로그인 한사람의 userkey면 마이 페이지 리스트 출력, 다른사람userkey 면 다른사람이름+ page 출력 -->
<div class="container">
    <h1>mypage</h1>
    <br>
    <!-- 프로필 사진 부분 -->
    <div class="media">
        <div class="media-left">
            <img id="myimage" src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:60px">
            <!-- file -->
            <div id="showfile">
            </div>

        </div>
        <div class="media-body">
            <h4 class="media-heading" id="nicname">닉네임</h4>
            <div id="statetxtP">
                <p id="statetxt"></p>
            </div>
        </div>
        <br>

        <div align="right">
            <button id="changeBtn" type="button" class="btn btn-warning">수정하기</button>
        </div>
    </div>
    <hr>

    <br>

    <!-- 감사리스트 출력하기-->
    <div class="container">

        <h3>나의 점수리스트</h3>
        <br>
        <!-- 감사 리스트 붙일 곳 -->
        <div class="thanksList"></div>

    </div>


</div>



</body>

</html>